{% extends 'LEGOpng/layout.html' %}

{% block title %}Baseout{% endblock %}

{% block content %}
    <p>Всего наборов в базе: {{ rows_count }}</p>
    <div class="dbtext">
        <table id="LEGO_setlist">
            <tr>
                <th>Номера наборов</th>
                <th>Названия наборов</th>
            </tr>
            {% for entry in object_list %}
                <tr>
                    <td><a href="{% url 'set-detail' entry.set_id %}"> {{ entry.set_id }} </a></td>
                    <td><a href="{% url 'set-detail' entry.set_id %}"> {{ entry.set_name }}</a></td>
                </tr>
            {% endfor %}
        </table>

     {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/baseout?page={{ page_obj.previous_page_number }}">Предыдущая страница</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/baseout?page={{ page_obj.next_page_number }}">Следующая страница</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    </div>
{% endblock %}
